@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    overflow-x: hidden;
    font-family: 'Poppins';
    background: #000000ba;
    height: 100vh;
}

#y-letter{
    color: #ffca7c;
    font-size: 4vw;
    line-height: 5vw;
}
nav{
    width: 100vw;
    height: 7vw;
    display: flex;
    justify-content: space-between;
    margin: 0vw 0vw 0vw 9vw;
}
nav h1{
    color: white;
    font-size: 2.5vw;
    font-weight: bolder;
    margin-top: 1.3vw;
}
nav h1 span{
    color: #ffca7c;
}
.nav-items{
    width: 6vw;
    gap: 5vw;
    height: 2vw;
    margin: 2.3vw 34vw 0vw 0vw;
    display: flex;
}
.nav-items li{
    width: 3vw;
    display: inline-block;
    color: white;
    font-size: 1vw;
    transition: ease-out 0.2s;
}
.team-div{
    width: 0;
    height:0.1vw;
    transform: translateY(0.3vw);
    border-radius: 3vw;
    background: #ffca7c;
}
.idea-div{
    width: 0vw;
    height:0.1vw;
    transform: translateY(0.3vw);
    border-radius: 3vw;
    background: #ffca7c;
}
.contact-div{
    width: 0vw;
    height:0.1vw;
    transform: translateY(0.3vw);
    border-radius: 3vw;
    background: #ffca7c;
}
.herosection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.work-number{
    display: flex;
    margin: 7vw 0vw 0vw 10vw;
    flex-direction: column;
}
.work-number h3{
    color: white;
    font-size: 1.5vw;
    letter-spacing: 0.3vw;
}
.progress-bar{
    width: 25vw;
    height: 0.17vw;
    background-color: #3a3a3a;
    border-radius: 3vw;
}
.progress-done{
    width: 0vw;
    height: 0.17vw;
    border-radius: 3vw;
    background-color: #ffca7c;
}
.works{
    margin-top: 1.6vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}
.works li{
    cursor: pointer;
    font-size: 0.9vw;
    color: rgb(119, 119, 119);
    font-weight: 800;
    transition: 0.4s ease-in-out;
}

.herotext{
    margin: 8vw 0vw 0vw 13vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.herotext h1{
    color: white;
    font-size: 4vw;
    line-height: 5vw;
}
.herotext span {
    color: rgb(119, 119, 119);
    margin-top: 2vw;
    font-size: 0.9vw;
    width: 44vw;
}
.downward-container{
    margin: 6vw 0vw 0vw 0vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.downward-circle{
    transition: ease-out 0.2s;
    width: 5vw;
    height: 5vw;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background: #3a3a3a;
}
.down-arrow{
    width: 3vw;
    margin-top: 4vw;
    height: 3.5vw;
}
p{
    font-size: 2vw;
    color: white;
}
.nav-items li:hover{
    color: #ffca7c;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}
.downward-circle:hover{
    background: #4e4e4e;
    transition: ease-in 0.2s;   
}
#cards{
    width: 84vw;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    align-items: center;
    justify-content: center;
    /* max-width: 916px;
    width: calc(100%-20px); */
}
.card-container{
    margin: 7vw 0vw 0vw 0vw;
    width: 100vw;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cards:hover > .card > .card-border{
    opacity: 1;   
}
.card{
    background-color: rgba(255,255,255,0.1);
    position: relative;
    height: 17vw;
    width: 24vw;
    border-radius: 10px;
    cursor: pointer;
}
.card:hover::before{
    opacity: 1;
}

.card::before,
.card> .card-border{
    border-radius: inherit;
    content: "";
    height: 100%;
    opacity: 0;
    left: 0px;
    transition: opacity 500ms;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 2;
}
.card::before{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255,255,255,0.06),
        transparent 40%
        ); 
    z-index: 3;
}
.card> .card-border{
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
       #ffca7c,
        transparent 20%
        ); 
    z-index: 1;
}
.card> .card-content{
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    background-color: rgb(23, 23, 23);
    border-radius: inherit;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.card-content p{
    font-size: 1vw;
    text-align: center;
    color: #5b5b5b;
    width: 10vw;
}

nav ul li:hover::before{
    width: 0vw;
}
nav ul li:hover::after{
    width: 10vw;
}
.works li:hover{
    font-size: 1.2vw;
    color: rgb(255, 255, 255);;
    transition: 0.2s ease-in-out;
}
/* @keyframes progress-done {
    0% {
        width: 0%;
    }
    100% {
    }
} */