@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{
    font-family: 'Megatrans Demo';
    src: url(MegatransdemoRegular-8M9B0.otf);
}
@font-face{
    font-family: 'Centauri';
    src: url(FontsFree-Net-Centauri.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
}
nav{
    display: flex;
    width: 100%;
    height: 3vw;
    justify-content: space-between;
    gap: 16vw;
}
nav h4{
    margin: 1vw 1vw;
    color: white;
    font-family: 'Megatrans Demo';
    font-size: 2.2vw;
}
nav li{
    margin: 2.2vw 2vw;
    color: white;
    font-family: 'Megatrans Demo';
    font-size: 1vw;
}
.nav-items{
    width: 25vw;
    height: 4vw;
    justify-content: space-between;
    display: flex;
}
nav svg{
    fill: white;
    width: 2.5vw;
    height: 2.5vw;
    margin: 1.5vw 2vw 0 2vw;
}
.fade-circle {
    margin: -5vw 0vw 0vw 40vw;
    width: 19vw;
    height: 19vw;
    border-radius: 1107px;
    background: rgba(217, 217, 217, 0.64);
    filter: blur(8vw);
}
.limelight{
    width: 30vw;
    height: 30vw;
    margin: -7vw 0vw 0vw 56vw;
    border-radius: 1304px;
    border: 5px solid #FFF;
    background: rgba(253, 253, 253, 0.00);
    box-shadow: 4px 4px 12px 2px #FFF, -4px -4px 12px 2px #FFF;
}
.side-text1{
    font-family: 'Centauri';
    color: white;
    display: flex;
    font-size: 4.5vw;
    transform: rotate(90deg);
    margin: 21vw 44vw 0vw -51vw;
}
.side-text2{
    font-family: 'Centauri';
    color: white;
    display: flex;
    font-size: 4.5vw;
    transform: rotate(-90deg);
    margin: -92vw -58vw 0vw 35vw;
}
.image img{
    width: 30vw;
    height: 30vw;
}
.herosection{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.herosection h3{
    margin: 37vw 0 0 16vw;
    font-family: "Poppins";
    font-size: 5vw;
    font-weight: 600;
    color: white;
}
.herosection h3 span{
    color: yellow;
}
.herosection p{
    width: 36vw;
    margin: 0 0 0 17vw;
    font-size: 1vw;
    font-family: "Poppins";
    color: grey;
}